<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <!-- ADD BOOSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/home.css" />
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
            <h4>Tin tức từ HIBC</h4>
        </div>
        <div class="list-post">

            <% for(let i=0;i < posts.length;i++){ %>
                <div class="item-post">
                    <div class="new-image">
                        <img src="/1.png" alt="">
                    </div>
                    <div class="new-detail">
                        <div class="header-item-post">
                            <p>Tác giả - date/month/year</p>
                            <a href="/post/search/<%=posts[i].id%>">
                                <h3 class="tittle-post">
                                    <%=posts[i].tittle%>
                                </h3>
                            </a>

                        </div>
                        <div class="body-item-post">
                            <div class="summary-post">
                                <p>
                                    <%=posts[i].summary%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <% } %>


        </div>

        <%- include('footer.ejs') %>
</body>

</html>